.Day {
    display: table-cell;
    border: 2px solid gray;
    padding: 5px;
    color: gray;
}

.Belongs {
    color: black;
}

.Day p {
    margin: 0px;
    font-weight: bold;
}

.Date {
    float: right;
    font-size: 10vw;
}

.WeekLabel {
    float: right;
    clear: right;
    color: gray;
    opacity: 0;
}
