.Month {
    width: 100%;
    margin: 5px;
}

.Label {
    text-align: center;
    font-size: 4vw;
}

.Label > h1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.Label > a {
    vertical-align: middle;
}

.Calendar {
    display: table;
    width: 100%;
}

.Header {
    display: table-row;
}

.Weekday {
    display: table-cell;
    text-align: center;
}

.Week {
    display: table-row;
}

div.Week > div:first-child .WeekLabel {
    opacity: 1;
}